<div class="vh-100 w-100 home text-center">
  <div class="title u-title" style="border-radius: 1rem 0rem 0rem 1rem"></div>
  <div class="title l-title" style="border-radius: 1rem 0rem 0rem 1rem"></div>

  <div class="title welcome cshadow">
    <h5>WELCOME , {{ username }}</h5>
    <hr />
    <span class=""
      >Get the Medicine delivered to your Door Step with just One Click</span
    >
  </div>

  <!-- <div class="w-50 title py-1 r-title bg-danger">R PHARMACY</div> -->

  <div
    class="row justify-content-center float-end align-items-center h-100 w-50 bg-right text-light"
  >
    <div
      class="w-50 bg-card mb-5 px-4 py-5 text-dark fw-bolder p-3"
      style="border-radius: 0rem 1rem 1rem 0rem"
    >
      <ul class="list-group">
        <li
          class="list-group-item mb-4 text-center bg-silver fs-5 fw-bold rounded"
        >
          SEARCH ----
          <span class=""><i class="bi bi-search-heart-fill"></i></span>
        </li>
        <li
          class="list-group-item mb-4 text-center bg-silver fs-5 fw-bold rounded"
        >
          <span class=""><i class="bi bi-hand-index-thumb-fill"></i></span> ----
          SUBSCRIBE
        </li>
        <li
          class="list-group-item mb-4 text-center bg-silver fs-5 fw-bold rounded"
        >
          REFILL ----
          <span class=""
            ><img
              src="assets/images/refill-icon-18.jpg"
              alt="LOGO"
              style="width: 25px; height: 25px"
          /></span>
        </li>
        <li
          class="list-group-item mb-4 text-center bg-silver fs-5 fw-bold rounded"
        >
          <span class=""><i class="bi bi-credit-card-2-back-fill"></i></span>
          ---------- PAY
        </li>
        <li
          class="list-group-item text-center bg-silver fs-5 fw-bold rounded text-light"
        >
          <img
            src="assets/images/circular-arrows.png"    
            alt="LOGO"
            class="text-light"
            style="color: white; width: 30px; height: 30px"
          />
        </li>
      </ul>
    </div>
  </div>

  <!-- <h2>MAIL ORDER PHARMACY</h2>
  <br />
  <img src="assets/images/backround.jpg" height="200" width="200" />
  <br /><br />
  <p>Your Online Pharmacy is here</p>
  <p>Get the Medicine delivered to your Door Step...!</p>
  <br />
  <p>Always forgetting to refill your medicines...</p>
  <p>Don't worry...! We will remember it for you!!!</p> -->
</div>
